USE [master]
GO
/****** Object:  Database [PhamLeManh_2310900063]    Script Date: 7/2/2025 10:59:32 AM ******/
CREATE DATABASE [PhamLeManh_2310900063]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PhamLeManh_2310900063', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PhamLeManh_2310900063.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PhamLeManh_2310900063_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PhamLeManh_2310900063_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PhamLeManh_2310900063].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PhamLeManh_2310900063]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/2/2025 10:59:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlmEmployees]    Script Date: 7/2/2025 10:59:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlmEmployees](
	[PlmEmpId] [int] IDENTITY(1,1) NOT NULL,
	[PlmEmpName] [nvarchar](max) NOT NULL,
	[PlmEmpLevel] [nvarchar](max) NULL,
	[PlmEmpStartDate] [datetime2](7) NOT NULL,
	[PlmEmpStatus] [bit] NOT NULL,
 CONSTRAINT [PK_PlmEmployees] PRIMARY KEY CLUSTERED 
(
	[PlmEmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PlmEmployees] ADD  DEFAULT (N'') FOR [PlmEmpName]
GO
USE [master]
GO
