@{
    ViewData["Title"] = "Thông Tin Sinh Viên";
}

<div class="card shadow-sm border-0 mb-4">
    <div class="card-header bg-primary text-white">
        <h3 class="mb-0">@ViewData["Title"]</h3>
    </div>
    <div class="card-body text-center">
        
        <img src="https://i.pinimg.com/736x/65/0b/79/650b795b8c37d8a83fe073592ee80d2d.jpg" alt="Ảnh cá nhân" class="rounded-circle mb-3" style="width:150px; height:150px; object-fit: cover;" />

        <ul class="list-group list-group-flush text-start">
            <li class="list-group-item">
                <strong>Mã Sinh Viên:</strong> 99907022005999
            </li>
            <li class="list-group-item">
                <strong>Họ và Tên:</strong> Phạm Lê Mạnh
            </li>
            <li class="list-group-item">
                <strong>Email:</strong> phamlemanh@gmail.com
            </li>
            <li class="list-group-item">
                <strong>Điện Thoại:</strong> 0799079636
            </li>
            <li class="list-group-item">
                <strong>Lớp:</strong> K23CNT3
            </li>
        </ul>
    </div>
</div>
