@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<div class="text-center">
    <h1 class="display-4">Thông tin sinh viên</h1>
    <p><strong>Họ tên:</strong> Phạm Lê Mạnh</p>
    <p><strong>Mã sinh viên:</strong> 2310900063</p>
    <p><strong>Ngày sinh:</strong> 01/01/2005</p>
    <p><strong>Lớp:</strong> CNTT K23</p>
</div>