@{
    ViewData["Title"] = "Thong Tin SinhVien";
}


<div class="alert alert-info">
    <<h1>@ViewData["Title"]</h1>
    <hr/>
    <p>Ma Sinh Vien :</p>
    <p>Ho Va Ten :</p>
    <p>Email :</p>
    <p>Phone :</p>
</div>
