@{
    ViewData["Title"] = "Thong Tin Sinh Vien";
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger">
    <h1>MaSinhVien: PH12345</h1>
    <h1>HoVaTen: Pham Le Manh</h1>
    <h1>Email: manh@example.com</h1>
    <h1>DienThoai: 0123456789</h1>
    <h1>Class: NET101</h1>
</div>